.common__request {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  &__info {
    display: flex;
    &__profile {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
    }
    &__name {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      span {
        font-size: 14px;
        &:nth-child(2) {
          color: rgb(80, 80, 80);
          font-weight: 300;
        }
      }
    }
    &__message {
      color: rgb(17, 17, 17);
      font-weight: 400;
      font-size: 15px;
    }
  }
  &__button {
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    span {
      opacity: 0.45;
      font-size: 14px;
    }
    button {
      font-size: 0.95rem;
      cursor: pointer;
      &:nth-child(1) {
        color: rgb(118, 118, 118);
      }
      &:nth-child(2) {
        color: rgb(151, 187, 255);
        font-weight: bold;
      }
    }
  }
}
