.direct__chat__card {
  padding-bottom: 20px;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid rgb(237, 237, 237);
  position: relative;
  &__profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__time__and__name {
    display: flex;
    gap: 10px;
    span {
      font-size: 14px;
      &:last-child {
        color: rgb(80, 80, 80);
        font-weight: 300;
      }
    }
  }
  &__message {
    font-size: 15px;
    margin-top: 10px;
  }
  &__dots {
    position: absolute;
    right: 1rem;
    top: 0;
    button {
      display: flex;
      flex-direction: column;
      gap: 3px;
      cursor: pointer;
      span {
        display: block;
        width: 3px;
        height: 3px;
        background-color: rgb(153, 153, 153);
        border-radius: 50%;
      }
    }
    &__sub {
      position: absolute;
      top: 0;
      right: 0;
      width: 86px;
      background-color: #fff;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
      button {
        width: 100%;
        padding: 16px 0;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: #000;
          transition: all 0.4s;
        }
      }
    }
  }
}
