.comment__box {
  display: block;
  position: relative;
  &__child {
    padding-left: 40px;
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../../../assets/Icon/cm_child.svg") no-repeat center;
      left: 0;
      top: 0;
    }
    &__setting {
      font-size: 12px;
      margin-bottom: 10px;
    }
    &__textbox {
      margin-bottom: 10px;
      textarea {
        resize: none;
        width: 100%;
        height: 80px;
        outline: none;
        padding: 10px;
        font-size: 12px;
        border: 1px solid rgb(151, 187, 255);
        border-radius: 6px;
        margin-bottom: 10px;
      }
      button {
        width: 100px;
        padding: 10px 0;
        background-color: rgb(151, 187, 255);
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        &:disabled {
          opacity: 0.45;
        }
      }
    }
  }
  &__userInfo {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 10px;
    &__dot__button {
      position: absolute;
      top: 0;
      right: 0;
      > button {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        gap: 3px;
        span {
          display: block;
          width: 4px;
          height: 4px;
          background-color: rgb(153, 153, 153);
          border-radius: 50%;
        }
      }
      &__menu {
        position: absolute;
        top: -2px;
        right: 0;
        width: 90px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
        button {
          padding: 10px 0;
          position: relative;
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 1px;
            background-color: rgb(237, 237, 237);
          }
          &:last-child {
            &::after {
              content: none;
            }
          }
        }
      }
    }
    &__profile {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        font-size: 12px;
      }
      div {
        font-size: 11px;
        font-weight: 300;
      }
    }
  }
  &__content {
    margin-bottom: 10px;
    p {
      font-size: 14px;
    }
    textarea {
      width: 100%;
      padding: 10px;
      resize: none;
      outline: none;
    }
    &__btn {
      display: flex;
      gap: 10px;
      button {
        cursor: pointer;
      }
    }
  }
  &__child__button {
    margin-bottom: 1rem;
    display: flex;
    gap: 10px;
    button {
      font-size: 12px;
      cursor: pointer;
    }
  }
}
