.community__list {
  display: block;
  position: relative;
  min-height: 500px; // 글이 없어도 버튼이 표시되는 최소 높이
  &__main {
    display: block;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    h1 {
      font-size: 20px;
    }
  }
  &__write {
    width: 50px;
    height: 50px;
    top: calc(var(--device-height) - 20px);
    background-color: rgb(151, 187, 255);
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
  }
}
