.find__input__field {
  margin-bottom: 1.8rem;
  &__label {
    label {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
  &__inputs {
    display: flex;
    gap: 10px;
    input {
      flex: 1;
      padding: 10px 0;
      margin-top: 10px;
      outline: none;
      border: none;
      border-bottom: 1px solid rgb(30, 57, 51);
    }
    button {
      width: 70px;
      height: 50px;
      background-color: rgb(151, 187, 255);
      color: #fff;
      border-radius: 8px;
      &:disabled {
        background-color: rgb(234, 241, 255);
        color: rgb(192, 192, 192);
      }
    }
  }
}

.error {
  font-size: 14px;
  margin-top: 6px;
  color: rgb(217, 28, 28);
}

.correct {
  font-size: 14px;
  margin-top: 6px;
  color: rgb(60, 165, 62);
}
