.find__input__field {
  &__name,
  &__phone,
  &__email,
  &__certified {
    margin-bottom: 20px;
    label {
      font-weight: 700;
      display: block;
    }
    &__inputWrapper {
      margin-bottom: 10px;
      display: flex;
      gap: 10px;
      input {
        width: 100%;
        padding: 1.1rem 0;
        border: none;
        border-bottom: 1px solid rgb(30, 37, 51);
        flex: 1;
        &:focus {
          outline: none;
        }
        &.error {
          border-bottom: 1px solid rgb(217, 28, 28);
          color: rgb(217, 28, 28);
        }
      }
      button {
        width: 70px;
        background-color: rgb(151, 187, 255);
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        &:disabled {
          background-color: rgb(234, 241, 255);
          color: rgb(193, 193, 193);
        }
      }
    }
    p.error {
      font-size: 14px;
      color: rgb(217, 28, 28);
    }
    p.ok {
      font-size: 14px;
      color: rgb(60, 165, 62);
    }
  }
}
