.dialog__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 600;
  .dialog__container {
    width: 90%;
    height: 190px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 6px;
    padding: 20px;
    .dialog__header {
      text-align: center;
      font-weight: 700;
      padding-top: 1.2rem;
    }
    .dialog__body {
      text-align: center;
      padding-top: 2.1rem;
      font-size: 0.95rem;
    }
    .dialog__footer {
      display: flex;
      gap: 12px;
      margin-top: 1.4rem;
      .dialog__confirm-button,
      .dialog__cancel-button {
        flex: 1;
        background-color: rgba(151, 187, 255);
        padding: 10px 0;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
