.search-box-outline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px;
  border-color: rgba(151, 187, 255, 1);
  padding: 10px 12px;
  border-radius: 6px;
}

.search-box-input {
  display: flex;
  width: 100%;
  height: 22px;
  font-size: 15px;
  border: none;
  outline: none;
  border-inline: none;
}

.search-box-button {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &:disabled {
    opacity: 0.45;
  }
}
