@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Pretendard", sans-serif;
  --color-text: black;
  --device-width: 390px;
  --device-height: 698px;
  --device-radius: 50px;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  overflow-x: hidden;
  overscroll-behavior: none;
  min-height: -webkit-fill-available;
}

@supports (-webkit-touch-callout: none) {
  .landing__container {
    min-height: -webkit-fill-available;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.landing__container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.35rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      #e7efff 100%
    );
  }
  .preview-device {
    position: relative;
    width: var(--device-width);
    height: var(--device-height);
    border-radius: var(--device-radius) 0px 0px var(--device-radius);
    padding: 1.577rem;
    background-color: #fff;
    z-index: 1000;
    overflow: auto;
    box-shadow: 0 20px 20px rgba(151, 187, 255, 0.15),
      0 1px 1px rgb(151, 187, 255);
    &.of-hidden {
      overflow: hidden;
    }
    .app-container {
      .status-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 500;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          display: block;
          width: 150px;
          height: 1rem;
          background-color: #000;
          border-radius: 0 0 2rem 2rem;
        }
        .time {
          font-size: 0.85rem;
          font-weight: 600;
        }
        .icon__wrapper {
          display: flex;
          align-items: center;
          gap: 0.775rem;
          .wifi {
            display: flex;
            align-items: end;
            gap: 2px;
            span {
              display: block;
              width: 2px;
              height: 16px;
              background-color: #000;
              &:nth-child(1) {
                height: 4px;
              }
              &:nth-child(2) {
                height: 8px;
              }
              &:nth-child(3) {
                height: 12px;
              }
            }
          }
          .battery {
            svg {
              width: 22px;
            }
          }
        }
      }
    }
  }
  .service-intro {
    position: relative;
    width: 480px;
    height: var(--device-height);
    border-radius: var(--device-radius);
    z-index: 60;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 20px 20px rgba(151, 187, 255, 0.15),
      0 1px 1px rgb(151, 187, 255);
    .logo-wrapper {
      margin-bottom: 1.1rem;
      margin-top: 2.1rem;
      img {
        width: 66px;
      }
    }
    .logo-name {
      span {
        display: block;
        text-align: center;
        &:nth-child(1) {
          font-size: 1.25rem;
          font-weight: 800;
          background-image: linear-gradient(
            135deg,
            #5d7fff,
            #97bbff 60%,
            #b8d1ff
          );
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
        &:nth-child(2) {
          padding-top: 0.85rem;
          font-size: 0.95rem;
          color: rgba(0, 0, 0, 0.86);
        }
      }
    }
    .service-body {
      margin-top: 2.35rem;
      padding-bottom: 2.33rem;
      text-align: center;
      h3 {
        font-size: 1.25rem;
        font-weight: 700;
        padding-bottom: 1.25rem;
      }
      span {
        font-size: 0.95rem;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.86);
      }
    }
    ul.service-list {
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 1.375rem;
      border: 1px solid rgba(151, 187, 255, 0.1);
      border-radius: 20px;
      margin-bottom: 1.575rem;
      li {
        min-width: 85px;
        display: flex;
        justify-content: center;
        padding: 0.5rem 0;
        border: 1px solid rgba(151, 187, 255, 0.1);
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(151, 187, 255, 0.05),
          0 4px 8px rgba(151, 187, 255, 0.05);
        button {
          padding: 0.9rem 1rem;
          transition: ease-in-out 0.7s;
          &:hover {
            background-color: #e9f0ff;
            border-radius: 16px;
            height: 100%;
          }
        }
        &:nth-child(1) {
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.555rem;
            cursor: pointer;

            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              background: url("/icons/chatting.svg") no-repeat center/80%;
              filter: invert(60%) sepia(29%) saturate(1113%) hue-rotate(198deg)
                brightness(99%) contrast(96%);
            }
          }
        }
        &:nth-child(2) {
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.555rem;
            cursor: pointer;
            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              background: url("/icons/alram.svg") no-repeat center/90%;
              filter: invert(60%) sepia(29%) saturate(1113%) hue-rotate(198deg)
                brightness(99%) contrast(96%);
            }
          }
        }
        &:nth-child(3) {
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.555rem;
            cursor: pointer;
            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              background: url("/icons/info.svg") no-repeat center/90%;
              filter: invert(60%) sepia(29%) saturate(1113%) hue-rotate(198deg)
                brightness(99%) contrast(96%);
            }
          }
        }
        &:nth-child(4) {
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.555rem;
            cursor: pointer;
            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              background: url("/icons/question.svg") no-repeat center/90%;
              filter: invert(60%) sepia(29%) saturate(1113%) hue-rotate(198deg)
                brightness(99%) contrast(96%);
            }
          }
        }
      }
    }
  }
}
