.text__modal {
  position: absolute;
  width: 300px;
  height: 280px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10000002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20px;

  @media (max-width: 920px) {
    position: fixed;
    top: 50%;
    left: 50%;
  }
  h2 {
    font-size: 16px;
  }
  p {
    color: #000;
    font-size: 16px;
    &.text__modal__confirm__text {
      font-size: 14px;
    }
  }
  button {
    width: 200px;
    background-color: rgb(151, 187, 255);
    padding: 10px 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  &__flex__button {
    display: flex;
    gap: 10px;
    button {
      width: 120px;
      background-color: rgb(151, 187, 255);
      padding: 10px 0;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      &:disabled {
        opacity: 0.45;
      }
      &:first-child {
        opacity: 0.35;
        transition: opacity 0.45s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.profile__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  span {
    font-size: 14px;
    font-weight: 700;
  }
}

p.message {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 1.2;
}

p.message + textarea {
  width: 90%;
  resize: none;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.85);
  padding: 10px;
  border-radius: 4px;
  outline: none;
}
