.text__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 100000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media (max-width: 920px) {
    position: fixed;
    top: 50%;
    left: 50%;
  }
  h2 {
    font-size: 16px;
  }
  p {
    color: #000;
    font-size: 16px;
    &.text__modal__confirm__text {
      font-size: 14px;
    }
  }
  button {
    width: 200px;
    background-color: rgb(151, 187, 255);
    padding: 10px 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  &__flex__button {
    display: flex;
    gap: 10px;
    button {
      width: 120px;
      background-color: rgb(151, 187, 255);
      padding: 10px 0;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      &:first-child {
        opacity: 0.35;
        transition: opacity 0.45s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
