.menu__sidebar {
  width: 245px;
  height: var(--device-height);
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(60, 75, 102);
  z-index: 10000000;
  padding: 28px 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  pointer-events: none;
  opacity: 0;
  transform: translateX(100%);

  &__mobile {
    height: 100vh;
  }
  &__open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  > button {
    align-self: end;
    margin-bottom: 40px;
    cursor: pointer;
    margin-right: 28px;
  }

  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    overflow-y: auto;

    li {
      a {
        color: #fff;
        display: block;
        text-decoration: none;
        padding: 16px 28px;
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }

      button {
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        background: none;
        border: none;
        width: 100%;
        text-align: left;
        display: block;
        padding: 16px 28px;
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}
