.combo__box {
  position: relative;
  > button {
    width: 90px;
    padding: 10px;
    color: #fff;
    background-color: rgb(151, 187, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}
