.chatting__detail {
  display: flex;
  flex-direction: column;
  &__main {
    &__notice {
      margin: 30px 0;
      padding: 10px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      font-size: 14px;
      text-align: center;
      color: rgb(153, 153, 153);
      border-radius: 10px;
    }
    &__per__date {
      &__wrapper {
      }
      &__dater {
        width: 150px;
        margin: 0 auto;
        background-color: rgb(0, 0, 0, 0.3);
        text-align: center;
        padding: 6px 0;
        border-radius: 30px;
        font-size: 14px;
        color: #fff;
      }
      &__message__wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
      }
      &__message {
        &__mine {
          margin-bottom: 20px;
          display: flex;
          align-items: flex-end;
          gap: 10px;
          &__time {
            font-size: 14px;
          }
          &__box {
            width: 100px;
            padding: 10px;
            background-color: rgb(151, 187, 255);
            border-radius: 10px;
          }
        }
        &__others {
          margin-bottom: 10px;
          display: flex;
          gap: 10px;
          &__profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &__box {
            width: 200px;
            height: 50px;
            padding: 10px;
            background-color: rgb(234, 241, 255);
            border-radius: 10px;
          }
        }
      }
    }
  }
  &__chat {
    padding: 1rem;
    position: fixed;
    width: var(--device-width);
    &__wrapper {
      display: flex;
      align-items: center;
      textarea {
        resize: none;
        flex: 1;
        height: 40px;
        padding: 10px;
        border: 1px solid rgb(151, 187, 255);
        border-radius: 10px;
        outline: none;
      }
      button {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
