.icon__button {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1px;
    height: 16px;
    background-color: rgb(237, 237, 237);
  }
  &:first-child,
  &:nth-child(5) {
    &:after {
      content: none;
    }
  }
}
