.alert {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  z-index: 500;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  h2 {
    font-size: 0.95rem;
    padding-top: 1.1rem;
    padding-bottom: 2.1rem;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 0.85rem;
    padding-bottom: 1.6rem;
  }
  .alert__footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    button {
      background-color: rgb(151, 187, 255);
      width: 50%;
      padding: 6px 0;
      color: #fff;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}
