.my__page__box {
  padding-top: 20px;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__profile {
    width: 80px;
    height: 80px;
    position: relative;
    margin-bottom: 10px;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    input {
      display: none;
    }
    button {
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: rgba(151, 187, 255, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &__nickname {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__email {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(237, 237, 237);
  }
  &__danji {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    &__none {
      width: 100%;

      &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        background-color: rgb(234, 241, 255);
        border-radius: 10px;
        margin-bottom: 10px;
        img {
          width: 50px;
        }
        span {
          font-size: 14px;
          font-weight: 300;
          display: block;
          margin-top: 1rem;
        }
      }
      &__button {
        width: 100%;
        margin-bottom: 16px;
        button {
          width: 100%;
          border: 1px solid rgb(151, 187, 255);
          padding: 10px 0;
          border-radius: 10px;
          color: rgb(151, 187, 255);
          cursor: pointer;
          font-weight: 700;
          transition: 0.6s;
          &:hover {
            background-color: rgb(151, 187, 255);
            color: #fff;
          }
        }
      }
    }

    &__in {
      width: 100%;

      &__box {
        width: 100%;
        margin-bottom: 12px;

        img {
          width: 62px;
          border-radius: 6px;
          margin-right: 12px;
        }

        &__nametag{
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;

          button {
            font-size: 13px;
            font-weight: 400;
            color: #767676;
            cursor: pointer;
          }
  
          span {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      &__button {
        width: 100%;
        padding-bottom: 20px;
        display: flex;

        &__left{
          width: 100%;
          margin-right: 6px;
          border: 1px solid rgb(151, 187, 255);
          padding: 10px 0;
          border-radius: 10px;
          color: rgb(151, 187, 255);
          cursor: pointer;
          font-weight: 700;
          transition: 0.6s;
          &:hover {
            border: 1px solid rgba(151, 187, 255, 0.664);
            background-color: rgba(151, 187, 255, 0.664);
            color: #fff;
          }
        }
        
        &__right {
          width: 100%;
          margin-left: 6px;
          border: 1px solid rgb(151, 187, 255);
          padding: 10px 0;
          border-radius: 10px;
          background-color: rgb(151, 187, 255);
          color: #fff;
          cursor: pointer;
          font-weight: 700;
          transition: 0.6s;
          &:hover {
            background-color: rgb(115, 158, 237);
            color: #fff;
          }
        }
      }
    }
  }
}
