.pagination__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
    &:hover,
    &.active {
      background-color: black;
      color: #fff;
      svg {
        color: #fff;
      }
    }
  }
}
