.reset__password {
  padding: 1rem;
  padding-top: 10px;
  height: 400px;
  position: relative;

  &__email {
    margin-bottom: 1.3rem;

    &__label {
      font-size: 0.9rem;
      font-weight: 500;
      display: block;
      margin-bottom: 10px;
    }

    &__value {
      padding: 10px 0;
      margin-top: 10px;
      border-bottom: 1px solid rgb(30, 57, 51);
      color: rgb(30, 57, 51);
      font-size: 14px;
    }
  }

  .next__button {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    padding: 1.1rem 0;
    padding-top: calc(1.1rem + 2px);
    background-color: rgb(151, 187, 255);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;

    &:disabled {
      background-color: rgb(234, 241, 255);
      color: rgb(192, 192, 192);
      font-weight: 400;
      cursor: not-allowed;
    }
  }
}

.reset__password__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  text-align: center;
  height: 560px;
  &__icon {
    margin-bottom: 2rem;
    &__house {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__message {
    margin-bottom: 3rem;

    p {
      font-size: 16px;
      color: rgb(30, 57, 51);
      line-height: 1.6;
      margin: 0.5rem 0;
    }
  }

  &__button {
    width: calc(100% - 2rem);
    max-width: 400px;
    padding: 1.1rem 0;
    background-color: rgb(151, 187, 255);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgb(130, 170, 240);
    }
  }
}
