$backgroundcolor-disabled: #eaf1ff;
$backgroundcolor-default: #97bbff;

$font-color-disabled: #c0c0c0;

$font-size-large: 20px;
$font-size-midium: 16px;

.login-form__submit-button {
  font-size: $font-size-midium;
  color: #c0c0c0;
  background-color: $backgroundcolor-disabled;
  height: 52px;
  transition: all 0.2s ease-in-out;
  width: 100%;

  &:hover {
    color: #fff;
    background-color: $backgroundcolor-default;
    border-color: $backgroundcolor-default;
    box-shadow: 0 0 0 3px rgba(151, 187, 255, 0.3);
  }

  &--valid {
    color: #fff;
    background-color: $backgroundcolor-default;
  }

  &:disabled {
    background-color: $backgroundcolor-disabled;
    border-color: $backgroundcolor-disabled;
    cursor: not-allowed;
    color: $font-color-disabled;
    opacity: 0.7;
    box-shadow: 0 0 0 0;
  }
}

.login-form__input {
  height: 52px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;

  border: none;
  border-bottom: 1px solid black;

  &:focus {
    outline: none;
    border-color: $backgroundcolor-default;
  }

  &--valid {
    border-color: red;
  }
}

.login-div-horizon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 8px 0;
}

.login-div-centerline {
  width: 45%;
  margin: 0;
  border: 1px solid;
  border-block-color: #c0c0c0;
  border-width: 1px 0px 0px 0px;
}

.login-div-centerline-text {
  width: 10%;
  margin: 0 20px auto;
  text-align: center;
  color: #c0c0c0;
}

.login-gray-small-text {
  color: #c0c0c0;
  font-size: 13px;
  font-weight: 400;
  margin: 4px 0 32px 0;
}

.login-blue-small-text {
  color: #97bbff;
  font-size: 13px;
  font-weight: 600;
  text-decoration-line: none;
}

.login-gray-midium-text {
  color: #c0c0c0;
  font-size: 15px;
  font-weight: 400;
  margin-top: 12px;
  text-decoration-line: none;

  &:hover{
    color: #97bbff;
  }
}
