.find__password {
  padding-top: 10px;
  min-height: 400px;
  position: relative;
  padding-bottom: 80px;

  > button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.1rem 0;
    padding-top: calc(1.1rem + 2px);
    background-color: rgb(151, 187, 255);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    &:disabled {
      background-color: rgb(234, 241, 255);
      color: rgb(192, 192, 192);
      font-weight: 400;
      cursor: not-allowed;
    }
  }
}

.error {
  font-size: 14px;
  margin-top: 6px;
  color: rgb(217, 28, 28);
}
