.container {
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 8px;
}

.title {
  width: 120px;
  height: 20px;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  animation: pulse 1.2s ease-in-out infinite;
}

.comboBox {
  width: 60px;
  height: 32px;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  animation: pulse 1.2s ease-in-out infinite;
}

.main {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 30px 0;
  border-bottom: 1px solid rgb(237, 237, 237);
  display: flex;
  flex-direction: column;

  &:last-child {
    border-bottom: none;
  }
}

.cardTop {
  display: flex;
  margin-bottom: 20px;
  gap: 12px;
}

.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardTitle {
  height: 15px;
  width: 85%;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  animation: pulse 1.2s ease-in-out infinite;
}

.cardText {
  height: 15px;
  width: 100%;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  animation: pulse 1.2s ease-in-out infinite;
}

.cardImage {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  animation: pulse 1.2s ease-in-out infinite;
  flex-shrink: 0;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardInfo {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.infoBadge {
  height: 12px;
  width: 32px;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  animation: pulse 1.2s ease-in-out infinite;
}

.infoText {
  height: 12px;
  width: 40px;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  animation: pulse 1.2s ease-in-out infinite;
}

.cardIcons {
  display: flex;
  gap: 0.6rem;
}

.icon {
  height: 12px;
  width: 24px;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
