.tabsList {
  display: flex;
  width: 100%;
}

.tabs {
  border-bottom: 1px solid rgba(237, 237, 237, 1);
}

.tabsButton {
  width: 100%;
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-size: 0.85rem;
}

.tabsActive {
  color: rgba(151, 187, 255, 1);
  border-bottom: 2px solid rgba(151, 187, 255, 1);
  font-weight: 700;
}
