.search__result__wrapper {
  margin-top: 20px;
}

.search__result__header {
  display: flex;
  gap: 10px;
  align-items: center;
  > button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  > div {
    flex: 1;
  }
}

.search__result__skeleton {
  padding: 0 20px;
}
