// 메인 컨텐츠
.mypage__content {
  flex: 1;
  max-height: calc(100vh);
  padding: 2px;
  position: relative;
}

.add__btn {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #FFFFFF;
    color: #999999;
    border: 1px solid #C0C0C0;

    &:hover {
      background: #c0c0c0bb;
      border-color: #C0C0C0;
      transform: translateY(-1px);
      box-shadow: 0 4px 12px rgba(151, 187, 255, 0.3);
      color: white;
    }
}

.search__btn {
    height: 52px;
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #97BBFF;
    color: white;
    border: 1px solid rgb(232, 232, 232);

    &:hover {
        background: rgb(130, 170, 255);
        border-color: rgb(130, 170, 255);
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(151, 187, 255, 0.3);
        color: white;
    }
}

.search__danji__link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  border-bottom: 1px solid rgb(237, 237, 237);
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  border-radius: 8px;

  &:last-child {
    border-bottom: none;
  }

  &__thumb {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(230, 230, 230);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: hidden;

    &__title {
      font-size: 16px;
      font-weight: 600;
      color: rgb(20, 20, 20);
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__location {
      font-size: 14px;
      color: rgb(80, 80, 80);
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__detail {
      font-size: 13px;
      color: rgb(120, 120, 120);
      margin: 0;
    }
  }
}

.delete-button {
  width: 15px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.input__field__label {
  padding-top: 20px;
  padding-bottom: 0.3rem;
  display: block;
  font-weight: 700;
}